@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
}

a {
    text-decoration: none;
    color: #2d2c2c;
}

body {
    background-color: #5d5a5a;
}

input:focus, select:focus {
    outline: none;
}

/* NAV */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5d5a5a;
    padding: 0 80px;
}

.logo {
    width: 250px;
    height: 200px;
}

.nav__link--list {
    display: flex;
    list-style: none;
}

.nav__link {
    margin: 0 20px;
    font-size: 22px;
    letter-spacing: .5px;
    transition: color 300ms ease, text-shadow 300ms ease;
}

.nav__link:hover {
  color: #5cae39;
  text-shadow:
    0 0 4px #5cae39,
    0 0 8px #5cae39,
    0 0 16px #5cae39,
    0 0 32px #5cae39;
}

/* HEADER */

.index__header {
    min-height: 100vh;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.title__wrapper {
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__title {
    text-align: center;
    font-size: 80px;
    letter-spacing: 2px;
}

.header__subtitle {
    display: flex;
    align-items: center;
    font-size: 36px;
    letter-spacing: 2px;
}

.secondary__logo {
    width: 150px;
    height: 150px;
    padding-top: 8px;
}

.header__input {
    width: 100%;
    max-width: 524px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

input {
    width: 100%;
    background-color: transparent;
    border-radius: 500px;
    border: 3px solid #514f4f;
    padding: 20px 192px 20px 32px;
    color: #6f8f39;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

button {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #000000;
    color: #514f4f;
    font-size: 16px;
    transition: all 300ms ease;
    cursor: pointer;
}

button:hover {
    color: #000000;
    text-shadow:
        0 0 4px #a11010,
        0 0 8px #a11010,
        0 0 16px #a11010,
        0 0 32px #a11010;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.footer__logo {
    width: 150px;
    height: 150px;
}

.footer__copyright {
    color: #2d2c2c9e;
    font-size: 12px;
}

/* SEARCH.HTML */

.search__nav {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.search__wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__header {
    font-size: 63px;
    letter-spacing: 4px;
    margin-bottom: 16px;
}

.search__btn {
    font-size: 20px;
}

.container {
    padding: 48px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

main {
    height: 100%;
    min-height: calc(100vh - 400px);
    background-color: #000000;
    color: #514f4f;
}

.filter__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;
}

#filter {
    padding: 6px 12px;
    background-color: #514f4f;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.results {
    display: flex;
    flex-wrap: wrap;
}

.result {   /* necessary? */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    width: 25%;
}













